<h2>Поведение в объекте</h2>
<div>
  <p>
    <label>Name </label>
    <input type="text" [(ngModel)]="form1.name" />
    {{ form1.name }}
  </p>
  <p>
    <label>Description </label>
    <input type="text" [(ngModel)]="form1.description" />
    {{ form1.description }}
  </p>
</div>
<div><label>name: </label>{{ form1.name }}</div>
<div><label>description: </label> {{ form1.description }}</div>

<h2>Поведение в форме</h2>
<hr />
<form #myForm1="ngForm">
  <p>
    <label>Name </label>
    <input type="text" name="name" [(ngModel)]="name" />
    {{ name }}
  </p>
  <p>
    <label>Description </label>
    <input type="text" name="description" [(ngModel)]="description" />
    {{ description }}
  </p>
  <!-- myForm1 -объект поэтому нужно значение через вэлью -->
  <!-- <div><label>name: </label>{{ myForm1.value.name }}</div>
<div><label>description: </label> {{ myForm1.value.description }}</div> -->
  <!-- {{ myForm1.control | json }} - выводит объект в формате json -->
  <!-- <pre><label>name: </label> {{ myForm1.control | json }}</pre> -->
  <pre>{{ myForm1.value | json }}</pre>
</form>
<hr />

<h2>Работа с реактивными формами</h2>
<form [formGroup]="reactiveForm1">
  <!-- директива formGroup -->
  <p>
    <label>Name </label>
    <input type="text" name="name" formControlName="name" />
    <br />
    {{ reactiveForm1.value.name }}
  </p>
  <p>
    <label>Description </label>
    <input type="text" name="description" formControlName="description" />
    <br />
    {{ reactiveForm1.value.description }}
  </p>
  <pre>{{ reactiveForm1.value | json }}</pre>
</form>

<hr />

<h2>Работа в Реактивной форме с формбилдером</h2>
<form [formGroup]="formBuilder1">
  <p>
    <label>Name </label>
    <input type="text" formControlName="name" /><br />
    <span *ngIf="formBuilder1.get('name').dirty">Поле было изменено</span>
    <!-- .dirty было хоть 1 изменение. -->
    <span *ngIf="formBuilder1.get('name').pristine"
      >Поле не изменяли (не было введено ни 1 символа)</span
    >
    <br />
    <span *ngIf="formBuilder1.get('description').valid">Заполнено</span>
    <span *ngIf="formBuilder1.get('description').invalid"
      >Обязательное для заполнения поле</span
    >
    <br />
    <code>{{ formBuilder1.get("name").status }}</code>
  </p>
  <p>
    <label>Description </label>
    <input type="text" name="description" formControlName="description" />
    <br />
    <span *ngIf="formBuilder1.get('description').touched"
      >С полем взаимодействовали</span
    >
    <span *ngIf="formBuilder1.get('description').untouched"
      >С полем не было взаимодействия</span
    >
    <br />
    <span *ngIf="formBuilder1.get('description').valid">Заполнено</span>
    <span *ngIf="formBuilder1.get('description').invalid"
      >Обазятельное для заполнения поле</span
    >
    {{ reactiveForm1.value.description }}
  </p>

  <p>
    <label>Заголовок </label>
    <input type="text" name="title" formControlName="title" />
    <br />
    <span *ngIf="formBuilder1.get('title').disabled">Поле не активно</span>
    <span *ngIf="formBuilder1.get('title').enabled">Поле активно</span>
    <br /><code>{{ formBuilder1.get("title").status }}</code>
    <!-- status бывает 4 видов: valid, invalid, pending - в процессе - актуально для долгих(серверных) валидаций, disabled -->
    <br /><button (click)="toggleDE()">Включить/отключить</button>
  </p>
  
  <p>
    <label>Age </label>
    <input type="number" formControlName="age" />
    <br />
    <span *ngIf="getAge.getError('min')"
      >Поле не может быть меньше {{ getAge.getError("min").min }} символов</span
    >
    <br />
    <code>AgeErrors: {{ getAge.errors | json }}</code>
  </p>

  <div formArrayName="phones">
    <p *ngFor="let phone of getPhones.controls; let i = index">
      <label>{{ i }} </label>
      <input type="text" [formControlName]="i" />
    </p>
  </div>

  <p><button (click)="refresh()">REFRESH</button></p>

  <pre>{{ formBuilder1.value | json }}</pre>
</form>
